In [1]:
# Import necessary libraries
import pandas as pd # pd is user for data manipulation
import numpy as np # np is used for numerical operations
import matplotlib.pyplot as plt # plt is used for plotting

In [2]:
df=pd.read_csv('/home/jagdish/Desktop/31305/Dsbdl/A1/melb_data.csv')
df.head() # Display the  rows of the dataset

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Data Preprocessing

In [10]:
df.dtypes # Display the data types of each column
# df['Price'].dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method             int64
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car                int64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [11]:
df.isnull().sum() # Check for missing values in the dataset
# df.notnull().sum() # Check for non-missing values in the dataset

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [5]:
df.describe() # Display summary statistics of the dataset

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [6]:
df.shape # Display the shape of the dataset

(13580, 21)

In [7]:
for col in df.columns:
    if df[col].dtype=="object":
        print(f"{col}: categorical column")
    elif df[col].dtypes=="int64":
        print(f"{col}: integer column")
    elif df[col].dtypes=="float64": 
        print(f"{col}: float column")
    else :
        print(f"{col}: unknown column type")

Suburb: categorical column
Address: categorical column
Rooms: integer column
Type: categorical column
Price: float column
Method: categorical column
SellerG: categorical column
Date: categorical column
Distance: float column
Postcode: float column
Bedroom2: float column
Bathroom: float column
Car: float column
Landsize: float column
BuildingArea: float column
YearBuilt: float column
CouncilArea: categorical column
Lattitude: float column
Longtitude: float column
Regionname: categorical column
Propertycount: float column

# Turn categorical variables into quantitative variables in Python

In [8]:
method_mapping = {
    'PI': 0,
    'S': 1,
    'SA': 2,
    'SP': 3,
    'VB': 4
}

# Step 1: Clean up and standardize strings
df['Method'] = df['Method'].astype(str).str.strip().str.upper()

# Step 2: Apply mapping
df['Method'] = df['Method'].map(method_mapping)

# Step 3: Handle unknowns (NaNs after mapping)
df['Method'] = df['Method'].fillna(-1).astype(int)  # -1 for unknowns

# Check output
print(df['Method'].unique())

[1 3 0 4 2]

# Data Formatting and Data Normalization

In [9]:
df['Car'] = df['Car'].fillna(0)  # or .fillna(0)
df['Car'] = df['Car'].astype(int)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,1,Biggin,3/12/2016,2.5,3067.0,...,1.0,1,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,1,Biggin,4/02/2016,2.5,3067.0,...,1.0,0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,3,Biggin,4/03/2017,2.5,3067.0,...,2.0,0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,0,Biggin,4/03/2017,2.5,3067.0,...,2.0,1,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,4,Nelson,4/06/2016,2.5,3067.0,...,1.0,2,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0